{% extends "base.html" %}
{% block content %}
  <div class="row">
    <div class="span12">
      <h3>
        My Tasks
      </h3>
    </div>
  </div>

  <div class = "row">
    <div class="wrapper">
      <div id='left1' class="drag-container">
        {% for task in tasks %}
          <div>
            <input type="checkbox" name="t" value="t"> {{task.title}}
          </div>
        {% endfor %}
      </div>

      <div id='right1' class="drag-container">
        <div> <input type="checkbox" name="t" value="t"> P Task Title</div>
        <div> <input type="checkbox" name="t" value="t"> Q Task Title</div>
        <div> <input type="checkbox" name="t" value="t"> R Task Title</div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="span12">
        <form method="POST" action="/">
          {% csrf-field %}
          <p>
              title:
              <input class="form-control"
                     type="text"
                     name="title"
                     value="{{title}}" />
          </p>
          {% if errors.title %}
          <div class="alert alert-danger">{{errors.title|join}}</div>
          {% endif %}

          <p>
              Rank:
              <input class="form-control"
                     type="number"
                     name="rank"
                     value="{{rank}}" />
          </p>
          {% if errors.rank %}
          <div class="alert alert-danger">{{errors.rank|join}}</div>
          {% endif %}

          <p>
              Completed:
              <input class="form-control"
                     type="text"
                     name="completed"
                     value="{{completed}}" />
          </p>
          {% if errors.completed %}
          <div class="alert alert-danger">{{errors.completed|join}}</div>
          {% endif %}

          <p>
              Description:
          <textarea class="form-control"
                    rows="4"
                    cols="50"
                    name="description">{{description}}</textarea>
          </p>
          {% if errors.description %}
          <div class="alert alert-danger">{{errors.description|join}}</div>
          {% endif %}
          <input type="submit" class="btn btn-default" value="Save" />
        </form>
    </div>
  </div>
{% endblock %}
