{% extends "base.html" %}
{% block content %}
  <div class="row">
    <div class="span12">
      <h3>
        My Tasks
      </h3>
    </div>
  </div>

  <div class = "row">
    <div class="col-md-3">
      <form method="POST" action="/">
        {% csrf-field %}
        <div class="input-group">
          <input class="form-control"
                 type="text"
                 placeholder="Add a task"
                 name="title"
                 value="{{title}}" />
          <span class="input-group-btn">
            <button type="submit" class="btn btn-default" value="+">
              <i class="fa fa-plus"></i>
            </button>
          </span>
          <input type="hidden" name="rank" value="1">
        </div>
        {% if errors.title %}
          <div class="alert alert-danger">{{errors.title|join}}</div>
        {% endif %}
      </form>
    </div>
    <div class="col-md-3">
      <form method="POST" action="/">
        {% csrf-field %}
        <div class="input-group">
          <input class="form-control"
                 type="text"
                 placeholder="Add a task"
                 name="title"
                 value="{{title}}" />
          <span class="input-group-btn">
            <button type="submit" class="btn btn-default" value="+">
              <i class="fa fa-plus"></i>
            </button>
          </span>
          <input type="hidden" name="rank" value="2">
        </div>
        {% if errors.title %}
          <div class="alert alert-danger">{{errors.title|join}}</div>
        {% endif %}
      </form>
    </div>
  </div>

  <div class = "row">
    <div class="drag-wrapper">
      <div class="col-md-3">
        <div id='left1' class="drag-container">
          {% for task in tasks.1 %}
            <div class = "task-box completed-{{task.completed}}">
              <input type="checkbox" name="t" value="t"> {{task.title}}
              <a class = "task-delete-link" href="#">
                <i class="fa fa-times"></i>
              </a>
            </div>
          {% endfor %}
        </div>
      </div>

      <div class="col-md-3">
        <div id='right1' class="drag-container">
          {% for task in tasks.2 %}
            <div class = "task-box completed-{{task.completed}}">
              <input type="checkbox" name="t" value="t"> {{task.title}}
              <a class = "task-delete-link" href="#">
                <i class="fa fa-times"></i>
              </a>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
{% endblock %}
