html,
body {
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    height: 100%;
    padding-top: 30px;
}

#main-nav {
  margin-bottom: 0px;
  border-bottom-width: 5px;
  border-color: darkseagreen;
}

/* home page styling */
.task-delete-link {
  position: absolute;
  right: 35px;
}

.task-item.active .task-box a {
  color: white;
}

/* dragula-specific example page styles */
.drag-wrapper {
}

.drag-container {
}

.drag-container .task-box {
  transition: opacity 0.4s ease-in-out;
}

.list-group {
  margin-bottom: 0px;
}

.list-group-item {
  padding: 4px 10px;
}

.drag-container .completed-true {
  opacity: 0.5;
  text-decoration: line-through;
}

.invisible {
  display: none;
}

a.task-title-link {
  color: black;
}

/* Styling of element being dragged */
.gu-mirror {
  margin: 10px;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.09);
  transition: opacity 0.4s ease-in-out;
}

.container .ex-moved {
  background-color: #e74c3c;
}

.container.ex-over {
  background-color: rgba(255, 255, 255, 0.2);
}

.handle {
  padding: 0 5px;
  margin-right: 5px;
  background-color: rgba(0, 0, 0, 0.2);
  cursor: move;
}
